:root {
    color-scheme: light dark;
}

body {
    color: light-dark(#333b3c, #efefec);
    background-color: light-dark(#efedea, #333b3c);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#poll_title {
    font-size: 150%;
}

#poll_container {
    display: flex;
    flex-direction: column;
    padding: 8%;
}

.poll_cell {
    padding: 8%;
    margin: 6%;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 12%;
}